* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: LexendBold;
  src: url("../app/assets/fonts/Lexend/Lexend-Bold.ttf");
}

@font-face {
  font-family: LexendLight;
  src: url("../app/assets/fonts/Lexend/Lexend-Light.ttf");
}

@font-face {
  font-family: MontserratExtraBold;
  src: url("../app/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: InterLight;
  src: url("../app/assets/fonts/Inter/Inter_18pt-Light.ttf");
}

@font-face {
  font-family: InterBold;
  src: url("../app/assets/fonts/Inter/Inter_18pt-Bold.ttf");
}

body {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #3c53a4;
  color: #fff;
}

.nav-left-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hamburger-menu {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.top-greeting {
  font-family: LexendBold;
}

.bottom-greeting {
  font-family: LexendLight;
}

.nav-right-container {
  display: flex;
  gap: 30px;
}

.dp-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-right-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.notis-logo {
  font-size: 15px;
  color: #000;
  background-color: #fff;
  padding: 20px;
  border-radius: 50%;
}

.profile-section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile-name {
  font-family: LexendBold;
}

/* Balances Section */
.balances-section {
  background-image: url("../app/assets/images/balaces-section-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f6b918;
  background-position: center;
  background-blend-mode: overlay;
  padding: 20px 50px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.balances-greeting {
  font-size: 36px;
  font-family: LexendBold;
  color: #fff;
}

.total-balance {
  font-size: 20px;
  font-family: LexendLight;
  color: #fff;
}

.balances-container {
  overflow: hidden;
}

.balances-scrollable {
  display: flex;
  justify-content: space-between;
  transition: transform 0.5s ease;
  overflow: scroll;
  scrollbar-width: none;
}

.balances-scrollable.mobile {
  width: 100%;
}

.balance-container {
  background-color: #3c53a4;
  height: 160px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8.4px;
  justify-content: space-between;
  flex-shrink: 0;
}

.balance-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.balance-container-header div p {
  font-family: LexendLight;
  font-size: 15px;
}

.header-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-display {
  cursor: pointer;
}

.balance-menu {
  padding: 5px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
}

.balance-menu:hover,
.balance-menu:active {
  background-color: #b3afaf;
}

.balance-container-function {
  display: flex;
}

.funds-balance {
  font-family: MontserratExtraBold;
  font-size: 30px;
  color: #cfacba;
  margin-top: -30px;
}

.balance-container-function {
  align-self: flex-end;
  justify-self: end;
  gap: 10px;
  font-size: 15px;
  font-family: InterLight;
  color: #fff;
  display: flex;
  align-items: center;
}

.plus-sign {
  background-color: #000;
  border-radius: 50%;
}

/* Dots */
.dot-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: white;
  width: 15px;
  border-radius: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .balances-section {
    padding: 20px;
  }
}

@media (max-width: 1400px) {
  .balance-container {
    margin-right: 10px;
    width: 250px;
  }
}

/* Quick Action Stylings */
.quick-actions-section {
  background-color: #fff;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.quick-action-heading {
  font-size: 36px;
  font-family: LexendBold;
  color: #000;
}

.quick-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.quick-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  width: 180px;
  background-color: #fce7eb;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #9d0824;
  cursor: pointer;
  margin-bottom: 10px;
  flex-shrink: 0;
  /* margin-right: 10px; */
}

.action-icon {
  font-size: 30px;
  color: #9d0824;
}

.quick-action p {
  font-size: 20px;
  font-family: InterBold;
  color: #9d0824;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .quick-actions {
    overflow-x: auto;
    white-space: nowrap;
    justify-content: flex-start;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    gap: 10px;
  }

  .quick-action {
    height: 120px;
    width: 160px;
    scroll-snap-align: start;
  }

  .quick-actions-section {
    padding: 20px;
  }
}

@media (max-width: 370px) {
  .quick-action {
    height: 100px;
    width: 100%;
    scroll-snap-align: start;
    padding: 10px;
    margin-bottom: 3px;
  }
}

/* Savings Section Stylings */
.savings-section {
  background-color: #f0f0f0;
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
}

.savings-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.savings-header {
  font-size: 36px;
  font-family: LexendBold;
  color: #000;
}

.savings-card {
  width: 250px;
  height: 120px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  font-family: sans-serif;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.savings-card-header {
  display: flex;
  justify-content: space-between;
}

.savings-arrow {
  cursor: pointer;
}

.savings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.savings-title {
  font-size: 1.2em;
  color: #707070;
  font-family: InterLight;
}

.savings-arrow {
  font-size: 15px;
  color: #000;
}

.savings-amount {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: InterBold;
}

.savings-progress-bar {
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.savings-progress-fill {
  width: 50%;
  height: 100%;
  background-color: #00bcd4;
  border-radius: 5px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .savings-section {
    margin: 20px;
    padding: 10px;
  }

  .savings-card {
    width: 200px;
    /* height: 120px; */
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .savings-card {
    width: 100%;
    /* height: 120px; */
    padding: 10px;
  }
}

/* Transactions History Stylings */
.transactions-history {
  width: 100%;
  padding: 20px;
  font-family: sans-serif;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 50px;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.transactions-header h1 {
  font-size: 36px;
  font-family: LexendBold;
  margin: 0;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.search-bar input {
  border: none;
  padding: 5px;
  margin-left: 5px;
}

.date-range {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.date-range span {
  padding: 5px;
  margin-left: 5px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.table-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 20px 50px;
  /* border-radius: 20px 20px 0 0; */
  background-color: #f0f0f0;
  border-radius: 4px;
  font-weight: bold;
  height: 70px;
  min-width: 800px; /* Ensure table maintains width for scrolling */
}

.table-header span {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.table-body {
  margin-top: 10px;
  min-width: 800px; /* Ensure table maintains width for scrolling */
  padding: 20px;
}

.transaction-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid #cccccccc;
  padding: 20px;
}

.transaction-row span {
  text-align: center;
}

.status {
  padding: 5px 10px;
  border-radius: 4px;
  text-align: center;
}

.status.completed {
  background-color: #e0f7ea;
  color: #4caf50;
}

.status.failed {
  background-color: #ffebee;
  color: #f44336;
}

.status.pending {
  background-color: #fff3e0;
  color: #ff9800;
}
